<div class="container">

    <form class="form-signin" name="signInForm" ng-submit="signInForm.$valid && signIn()">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <label for="inputUseName" class="sr-only">Email address</label>
        <input type="text" id="inputUseName" ng-model="login.username" class="form-control" placeholder="UserName"
               maxlength="20" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="login.password" class="form-control" placeholder="Password"
               maxlength="20" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
