$navbar-default-bg: rgba(0, 0, 0, 0.2);
$navbar-default-brand-color: #e8e8e8;
$navbar-default-brand-hover-color: white;
$navbar-default-brand-hover-bg: rgba(78, 155, 218, 0.62);
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #000000;
$navbar-default-link-hover-bg: rgba(255, 255, 255, 0.38);
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $navbar-default-brand-hover-bg;
$navbar-default-link-disabled-color: white;
$navbar-default-link-disabled-bg: white;
$navbar-default-toggle-border-color: white;
$navbar-default-toggle-hover-bg: rgba(0, 0, 0, 0.30);
;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-border: white;

$navbar-brand-shadow-color: #3482AA;

.navbar-custom {
    border: none;
    margin: 3rem;
    font-size: 1.25rem;

    .navbar-brand {
        color: #FFFFFF;
        text-shadow: -1px -1px 2px #000000;
        font-family: Georgia, Times New Roman;
        font-size: 5rem;
        transition: all .15s ease-in-out;
        &:hover,
        &:focus {
            color: $navbar-default-brand-hover-color;
            text-shadow: 1px 1px 8px grey;
        }
    }

    .navbar-text {
        color: $navbar-default-color;
    }

    .navbar-nav {
        > li > a {
            color: $navbar-default-link-color;
            background-color: $navbar-default-bg;
            transition: all .3s ease-in-out;

            &:hover,
            &:focus {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg;
            }
        }

        > .active > a {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-brand-hover-bg;
        }

        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }
    }

    .navbar-toggle {
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-default-border;
    }

    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $navbar-default-link-active-bg;
                color: $navbar-default-link-active-color;
            }
        }

        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-hover-color;
                        background-color: $navbar-default-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-active-color;
                        background-color: $navbar-default-link-active-bg;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-disabled-color;
                        background-color: $navbar-default-link-disabled-bg;
                    }
                }
            }
        }
    }

    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    .navbar-link {
        color: $navbar-default-link-color;
        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }

    .btn-link {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
            color: $navbar-default-link-hover-color;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
            }
        }
    }
}

.vr:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    border-left: dashed 1px #ccc;
}

.contact-dropdown {
    &:hover, &:focus {
        .dropdown-menu {
            display: block;
            animation: .35s ease-in showIN;
            transform-origin: 80% 0;
            //transition: all;
        }
    }

    .dropdown-menu {
        background-color: $navbar-default-bg;
        min-width: 120px;
        font-size: 1rem;
        border-radius: 0;
        border: 1px solid rgba(255, 255, 255, 0.62);

        > li > a {
            color: white;
            &:hover {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg;
            }
        }
    }
}

@media screen and (min-width: $screen-tablet) {
    .navbar-custom {
        .navbar-brand {
            margin-left: 0;
        }
        .navbar-nav {
            > li {
                &:nth-child(n+2) {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@keyframes showIN {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0.2;
        transform: scale(0.2);
        top: 50%;
    }
    70% {
        top: 150%;
    }
    100% {
        opacity: 1;
        top: 120%;
        transform: scale(1);
    }
}

.expandable {
    color: #21ADF3;
}

.navbar-brand.expanding {
    font-size: 2em;
    min-width: 400px;
    .expandable {
        color: #1291FF;
    }
}

@media screen and (max-width: 1400px) {
    .navbar-brand.expanding {
        font-size: 1.5em;
    }
}

@media screen and (max-width: $screen-lg-desktop) {
    .navbar-brand.expanding {
        font-size: 1.2em;
    }
}

@media screen and (max-width: $screen-tablet) {
    .navbar-brand.expanding {
        font-size: 1.5em;
    }
    .navbar-custom .navbar-collapse {
        margin-top: .5em;
    }
}
