<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit a project</h4>
</div>
<div class="modal-body ">
    <form class="form" name="pwdForm" novalidate>
        <div class="form-group">
            <label for="OldPassword">Old Password</label>
            <input type="text" class="input-lg form-control" name="password" id="OldPassword" ng-model="oldPwd"
                   maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password</label>
            <input type="text" class="input-lg form-control" name="password" id="NewPassword" ng-model="newPwd"
                   maxlength="20" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="pwdForm.$invalid || pwdForm.$pristine"
            ng-click="pwdForm.$valid && save()">Save
    </button>
</div>
