<div class="container management">
    <h1>LAB project management system(LPMS)</h1>

    <div class="toolbar">
        <button class="btn btn-success btn-lg" ng-click="management.createProject()">create project</button>
        <button class="btn btn-info btn-lg" ng-click="management.changePwd()">update password</button>
    </div>

    <!-- table-container -->
    <div class="table-container">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Project Name</th>
                <th>Brief Description</th>
                <th>Control</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in management.projects track by $index" on-finish-render="repeatDone">
                <td class="text-center">{{$index + 1}}</td>
                <td>{{project.attr.name}}</td>
                <td class="text-ellipsis">{{ project.attr.brief }}</td>
                <td>
                    <button class="btn btn-info" ng-click="management.updateProject(project)">update</button>
                    <button class="btn btn-danger" ng-click="management.deleteProject(project)">delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
