.management {
    margin-top: 3rem;
}

.toolbar {
    margin: 3rem 0 1rem;
}

.table-container {
    background-color: white;
    th {
        font-size: 1.25rem;
    }
    .text-ellipsis {
        max-width: 500px;
        min-width: 200px;

    }
    .table>tbody>tr>td {
        vertical-align: middle;
    }
}
.modal .thumb {
    max-width: 60%;
    margin: auto;
    display: block;
    height: auto;
}
