<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit a project</h4>
</div>
<div class="modal-body ">
    <form class="form" name="createForm" novalidate>
        <div class="form-group">
            <label for="name">Project Name</label>

            <input type="text" class="form-control" name="name" id="name" ng-model="data.attr.name"
                   maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="desc">Description</label>

            <text-angular id="desc" ng-model="data.attr.description" required></text-angular>
        </div>
        <div class="form-group">
            <label for="file">Choose image<span ng-if="!isCreate">(Optional)</span></label>

            <div class="input-group">
                <input class="form-control" id="file" name="file" ng-model="data.file.name" ng-required="isCreate"
                       ng-change="uploadState.progress = 0"
                       readonly/>

                <div class="input-group-btn">
                    <button class="btn btn-info" ng-model="data.file" ngf-select ngf-accept="'.jpg,.jpeg,.png'"
                            accept=".jpg,.jpeg,.png">
                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Browse
                    </button>

                    <button class="btn btn-primary" ng-disabled="!createForm.file.$viewValue"
                            ng-click="createForm.file.$valid&&upload()"
                            ladda='uploadState.loading' data-style="zoom-in">
                        <span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <uib-progressbar class="progress-striped"
                             ng-class="{'active': uploadState.loading}"
                             value="uploadState.progress" type="{{uploadState.type}}">
                <b>{{uploadState.progress}}%</b>
            </uib-progressbar>
        </div>

        <input class="hidden" type="text" ng-model="data.imageUrl" name="imageUrl" ng-required="isCreate">

        <div class="center">
            <img ng-src="{{serverAddress + (data.imageUrl|| data.attr.url)}}">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="createForm.$invalid || createForm.$pristine"
            ng-click="createForm.$valid&&save()">Save
    </button>
</div>
