.project-item {
    list-style: none;
    box-sizing: border-box;
}

.project-item.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    transition-delay: 0.2s;

    /* As of 1.4.4, this must always be set: it signals ngAnimate
	  to not accidentally inherit a delay property from another CSS class */
    transition-duration: 0s;
}

.project-item.ng-move,
.project-item.ng-enter,
.project-item.ng-leave {
    transition: all ease-in-out 0.5s;
}

.project-item.ng-leave.ng-leave-active,
.project-item.ng-move,
.project-item.ng-enter {
    opacity: 0;
    transform: scale(0.2);
}

.project-item.ng-leave,
.project-item.ng-move.ng-move-active,
.project-item.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale(1);
}

.project-list {
    padding: 0;
}

.project-item .thumbnail {
    border-radius: 0;
    box-shadow: 1px 1px 15px #444040;
    position: relative;
    overflow: hidden;
    &:hover {
        .project-name, .project-description {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.project-caption {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.project-name, .project-description {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    background-color: rgba(64, 118, 173, 0.63);
    color: white;
    transform: translateY(0);
    transition: transform .3s ease-out .05s, opacity .5s ease-out .2s;
}

.project-name {
    top: 0;
    transform: translateY(-100%);
}

.project-description {
    bottom: 0;
    transform: translateY(100%);
    p {
        margin: 10px 0;
    }
}

