.project-item {
    list-style: none;
    margin-bottom: 2em;
    box-sizing: border-box;
}

.project-item.ng-enter-stagger, .project-item.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    transition-delay: 0.35s;

    /* As of 1.4.4, this must always be set: it signals ngAnimate
	  to not accidentally inherit a delay property from another CSS class */
    transition-duration: 0s;
}

.project-item.ng-move,
.project-item.ng-enter,
.project-item.ng-leave {
    transition: all ease-in-out 0.5s;
}

.project-item.ng-leave.ng-leave-active,
.project-item.ng-move,
.project-item.ng-enter {
    opacity: 0;
    transform: scale(0.2);
}

.project-item.ng-leave,
.project-item.ng-move.ng-move-active,
.project-item.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale(1);
}

.project-list {
    padding: 0;
}

.project-item .thumbnail {
    border-radius: 0;
    box-shadow: 0 20px 18px -15px rgba(0, 0, 0, 0.38);
    position: relative;
    overflow: hidden;
    height: 300px;
    transition: all .3s ease-in-out;
    border: none;
    padding: 0;
    margin: 0;
    &:hover {
        box-shadow: 10px 30px 30px -10px rgba(0,0,0,0.38);
        .project-name, .project-description {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &:active {
        box-shadow: 5px 25px 20px -10px rgba(0,0,0,0.38);
        transition: all .1s ease-in-out;
    }
}

.project-caption {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.project-name, .project-description {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    background-color: rgba(64, 118, 173, 0.63);
    color: white;
    transform: translateY(0);
    transition: transform .3s ease-out .05s, opacity .5s ease-out .2s;
}

.project-name {
    top: 0;
    transform: translateY(-100%);
    h3 {
        margin: 15px 0;
    }
}

.project-description {
    bottom: 0;
    padding: 5px 10px;
    transform: translateY(100%);
    p:first-child {
        margin-top: 5px;
        margin-bottom: 0;
    }
    p:nth-child(n+2) {
        margin-top: 3px;
        margin-bottom: 0;
    }
    p:last-child {
        margin-bottom: 5px;
    }
    a {
        color: #c9c9c9;
    }
}

.modal {
    .project-img-box {
        margin: 1em 0;
    }
    .project-img {
        max-width: 90%;
    }
    .modal-project-description {
        font-size: 1rem;
    }
    .timestamp {
        color: #ABABAB;
    }
}
