<div class="page">
    <custom-nav></custom-nav>
    <div class="content projects clearfix">
        <ul class="project-list">
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project-item"
                ng-repeat="item in projectList track by $index">
                <a class="thumbnail" href="" ng-click="projects.viewProject(item.id)">
                    <img ng-src="{{item.attr.url}}" alt="{{item.attr.name}}">

                    <div class="project-caption">
                        <div class="project-name"><h3>{{item.attr.name}}</h3></div>
                        <div class="project-description"><p>{{item.attr.description}}</p></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
