@charset "UTF-8";
$lib_path: "../../bower_components";
@import url(#{$lib_path}/angular-toastr/dist/angular-toastr.min.css);

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "../app/common/base";
@import "../app/common/browserhack";
@import "../app/common/scrollbar";
@import "../app/common/layout";
@import "login/login";
@import "management/management";

body {
    background-color: #404040;
    color: #6969E2;
}
