<div class="page">
    <custom-nav></custom-nav>
    <div class="content home clearfix">

        <article class="intro">
            <p>The Just Environmental Technology and Science (JETS) Lab is a project of <a
                href="http://drexel.edu/coas/faculty-research/faculty-directory/GwenOttinger" target="_blank">Gwen Ottinger</a>,
                Assistant Professor at Drexel University. The JETS Lab’s goals are to</p>
            <ul>
                <li>
                    <p>Conduct empirically grounded, social science research that answers the question: how
                        environmentally just are current technologies and scientific practices?</p>
                </li>
                <li>
                    <p>Make innovation and scientific research more environmentally just by collaborating with
                        community groups, engineers, and scientists on projects that address the needs of
                        neighborhoods burdened by pollution.</p>
                </li>
                <li>
                    <p>Create opportunities for students and postdocs from multiple disciplines pursue academically
                        rigorous research that actively supports the needs of environmental justice communities.</p>
                </li>
            </ul>
        </article>

        <div class="home-gallery">
            <ul class="hex-grid">
                <li class="hex" ng-repeat="item in home.shadowGalleryTop track by $index">
                    <a class="hex-content" href="#" ng-click="home.viewProject(item.id)">
                        <div class="project-thumbnail" style="background-image: url({{serverAddress+item.attr.url}})"
                             title="{{item.attr.name}}" image-loader="serverAddress+item.attr.url"></div>
                        <h1>{{item.attr.name}}</h1>
                        <p>{{item.attr.intro}}</p>
                    </a>
                </li>
                <li class="hex explore">
                    <a class="hex-content" ui-sref="projects">
                        <div class="wrap full-fill">
                            <svg class="bulb" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                                <use xlink:href="./asset/bulb.svg#s-bulb" id="s-bulb"/>
                                <use xlink:href="./asset/bulb.svg#www-filament" id="www-filament"/>
                            </svg>
                            <div class="light">
                                <span class="glow">
                                </span><span class="flare"></span>
                                <div></div>
                            </div>
                        </div>
                        <h1>Explore</h1>
                        <p>All Projects</p>
                    </a>
                </li>
                <li class="hex" ng-repeat="item in home.shadowGalleryBottom track by $index">
                    <a class="hex-content" href="#" ng-click="home.viewProject(item.id)">
                        <div class="project-thumbnail" style="background-image: url({{serverAddress+item.attr.url}})"
                             title="{{item.attr.name}}" image-loader="serverAddress+item.attr.url"></div>
                        <h1>{{item.attr.name}}</h1>
                        <p>{{item.attr.intro}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
